body {
    display: flex;
    flex-direction: column;
}

/* temporary image resize */

img {
    height: 300px;
    width: 600px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1f2937;
    color: #f9faf8;
}    

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 100px 200px;
    color: #f9faf8;
}

.hero-text {
   flex: 1;
}

.hero-text .hero-paragraph {
    font-size: 18px;
    color: #e5e7eb; 
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-content button {
    margin: 20px 0px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px 30px;
}